@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li><span>Membership Type:</span>@Model.MembershipType.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li><span>Birthdate:</span>@Model.Birthdate.Value.ToShortDateString()</li>
    }

</ul>

